.Forgetpasswordform {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 36px;
}

.Forgetpasswordform img {
  margin-left: 25%;
}

.forgettext h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 40px;
  font-size: 24px;
  margin-bottom: 8px;
}

.forgettext p {
  height: 52;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b5768;
  font-size: 18px;
  font-weight: 400;
}

.Forgetpasswordform form {
  padding: 24px;
}

.forgettext span {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: #666666;
  line-height: 26px;
}

.forgetpassword label {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #191d23;
  font: 500;
  padding: 8px;
}

.forgetpassword input {
  padding: 12 16 12 16;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  width: 400px;
  height: 48px;
  display: flex;
  gap: 24px;
}

.Forgetpasswordform a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #878787;
  line-height: 24px;
  letter-spacing: 0%;
}
